<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudcreativity.peoplepass_zy">

    <!--热更新权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.REQUEST_INSTALL_PACKAGES.GET_TASKS" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 百度地图权限配置 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取设备硬件信息，统计数据 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- //读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- //获取设备的网络状态，鉴权所需网络代理 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!--//网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--//GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--适配android 7.0内部请求安装包-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />



    <application
        android:name="com.cloudcreativity.peoplepass_zy.base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- 百度地图配置 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="pnxnxMNmGjs1wufP701n7GjdFyTtqzZl" />

        <!-- 配置Glide加载图片的关联module -->
        <!--
            <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
        -->
        <meta-data
            android:name="com.cloudcreativity.peoplepass_zy.utils.GlideModuleConfig"
            android:value="GlideModule" />
        <!-- Glide配置结束 -->


        <!-- Activity配置开始 -->
        <activity
            android:name="com.cloudcreativity.peoplepass_zy.main.IndexActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cloudcreativity.peoplepass_zy.main.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.cloudcreativity.peoplepass_zy.loginAndRegister.LoginActivity" />
        <activity
            android:name="com.cloudcreativity.peoplepass_zy.base.CommonWebActivity" />
        <activity
            android:name="com.cloudcreativity.peoplepass_zy.main.SettingActivity" />
        <activity
            android:name="com.cloudcreativity.peoplepass_zy.loginAndRegister.RegisterActivity" />
        <activity
            android:name="com.cloudcreativity.peoplepass_zy.loginAndRegister.ForgetPwdActivity"
            android:screenOrientation="fullSensor" />

        <!-- 第三方图片选择Activity配置 -->
        <!-- 图片选择Activity -->
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 图片预览Activity -->
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 图片剪切Activity -->
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.cloudcreativity.peoplepass_zy.pass.PassActivity" />
       <!-- <activity android:name=".TestActivity" >

        </activity>-->
        <activity android:name="com.cloudcreativity.peoplepass_zy.location.LocationActivity"
            android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name="com.cloudcreativity.peoplepass_zy.pass.PassRecordActivity" />
        <activity android:name="com.cloudcreativity.peoplepass_zy.pass.EditPassActivity" />
        <activity android:name="com.cloudcreativity.peoplepass_zy.pass.PassPreviewActivity" />
        <activity android:name="com.cloudcreativity.peoplepass_zy.pass.PassIndexActivity" />
        <activity android:name="com.cloudcreativity.peoplepass_zy.main.ModifyPwdActivity" />


        <!-- Activity配置结束 -->


        <!-- File provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filespath" />
        </provider>



        <!--百度地图-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

    </application>

</manifest>